<div class="ui basic segment">

<div class="ui threaded comments">
  <h3 class="ui dividing header">Comments</h3>
  
  <% problem.comments.where(parent: nil).order(created_at: :desc).each do |c| %>
  <div class="comment" id="comment-<%= c.id %>">
    <a class="avatar">
      <img src="<%= c.user.picture %>">
    </a>
    <div class="content">
      <a class="author"><%= c.user.full_name %></a>
      <div class="metadata">
        <span class="date"><%= time_ago_in_words(c.created_at) %> ago</span>
        <% if c.liked?(current_user) %>
          <%= link_to comment_unlike_url(c), title: 'unlike' do %>
          <i class="red heart icon"></i>
          <span style="color: #db2828"><%= c.likes %></span>
        <% end %>
        <% else %>
          <%= link_to comment_like_url(c), title: 'like' do %>
          <i class="grey heart icon"></i>
          <span style="color: gray"><%= c.likes %></span>
          <% end %>
        <% end %>
      </div>
      <%= form_for c, html: {class: 'ui edit form' } do |f| %>
        <div class="field">
        <%= f.text_area :body, rows: 2 %>
        </div>
        <%= f.submit 'save', class: 'ui mini basic green icon button' %>
        <br><br>
      <% end %>
      <div class="text">
        <%= markdown(c.body) %>
      </div>
      <div class="actions">
        <a class="reply comment">Reply</a>
        <% if current_user == c. user %>
        <a class="edit comment">edit</a>
        <%= link_to 'delete', comment_url(c), method: :delete, 'data-confirm': 'Are you sure?' %>
        <% end %>
      </div>

      <%= form_for :comment, url: problem_comments_url(problem), html: {class: "ui reply form", style: 'display: none'} do |f| %>
      <div class="required field">
        <%= f.text_area :body, placeholder: "Your Reply", required: true %>
      </div>
      <div class="field">
        <%= f.label 'tag someone on Slack' %>
      </div>
      <div class="ui fluid multiple tag search selection dropdown">
      <input type="hidden" name="tags">
        <i class="dropdown icon"></i>
        <div class="default text">Search on Slack</div>
        <div class="menu"></div>
      </div>
        <br><br>
      <%= f.text_field :parent_id, value: c.id, hidden: true %>
      <%= f.submit "Reply", class: "ui red basic mini icon button" %>
      <% end %>
    </div>

    <% c.replies.order(created_at: :asc).each do |r| %>
    <div class="comments">
        <%= render partial: 'comments/reply', locals: { r: r } %>
    </div>
    <% end %>
  </div>
  <% end %>

  <h4 class="ui header">Leave Comment</h4>
  <%= form_for problem.comments.new, url: problem_comments_url(problem), html: {class: "ui comment form"} do |f| %>
  
  <div class="required field">
      <%= f.text_area :body, placeholder: 'Your comment', required: true %>
  </div>
  
  <div class="field">
    <%= f.label 'tag someone on Slack' %>
  </div>
  <div class="ui fluid multiple tag search selection dropdown">
    <input type="hidden" name="tags">
    <i class="dropdown icon"></i>
    <div class="default text">Search on Slack</div>
    <div class="menu"></div>
  </div>
  <br><br>
  <%= f.submit "Save", class: "ui green basic button" %>
  <% end %>
</div>
</div>


<script>
  <%# $('textarea').each(function() {
    var simplemde = new SimpleMDE({
        element: this,
    });
    simplemde.render(); 
  });

    $('.fa-eye').click(function(){
        MathJax.typeset();
    });
   $('.editor-preview').on('change',function() {
     alert();
     if($(this).text() != '') {
       alert();
       $(this).parent().parent().find('.button').prop('diabled', false);
     }
  }); %>
</script>