<div class="ui basic clearing segment">


  <h3 class="ui dividing red header" style="padding-bottom:10px">
    <div>
    <%= link_to topic_url(t), class: "ui right floated  basic icon mini button", method: :delete, 'data-confirm': "Are you sure?" do %>
    <i class="red trash icon"></i> Topic
    <% end %>
    <%= link_to edit_topic_url(t), class: "ui right floated basic icon mini button" do %>
    <i class="blue edit icon"></i> Topic
    <% end %>
    <%= link_to new_topic_problem_url(t), class: "ui right floated basic icon mini button" do %>
    <i class="green plus icon"></i> Problem
    <% end %>
    </div>
    #<%= t.title %>
  </h3>  

  <div class="">
    <% t.problems.each do |p| %>
    <%= render partial: 'problems/problem', locals: {p: p} %>
    <% end %>
  </div> 
</div>
