<h1>Create a topic</h1>
<%= form_for @topic, url: category_topics_path, html: {class: "ui form"} do |f| %>
    <div class="ui field">
        <%= f.label "Category" %>
        <div class="ui selection dropdown">
            <%= f.text_field :category_id, type: 'hidden', value: @category.id %>
            <i class="dropdown icon"></i>
            <div class="default text">Category</div>
            <div class="menu">
            <% @categories.each do |c| %>
                <div class="item" data-value="<%= c.id %>"><%= c.title %></div>
            <% end %>
        </div>
        </div>
    </div>
    <div class="ui required field">
        <%= f.label :title %> 
        <%= f.text_field :title, required: true %>
    </div>

    <div class="ui field">
        <%= f.label :index %> 
        <%= f.text_field :index %>
    </div>

    <%= f.submit class: "ui green button" %>
<% end %>
