<div class="item">
    <div class="content">
        <%= link_to p, class: "description" do %>
        <p style="font-size: 17px">
          <b>Problem <%= p.index %>:</b>
          <%= p.statement %>
        </p> 
        <% end %>
        <div class="extra">
          <%= link_to p, class: "ui right floated icon button" do %>
          <i class="green right chevron icon"></i>
          <% end %>
          <%= link_to problem_like_url(p) do %>
          <i class="red heart icon"></i>
          <% end %>
          <%= p.likes || 0 %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <i class="green chat icon"></i>
          0
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <% unless p.solution.empty? %>
          <i class="small green inverted check circular icon"></i>
          Solved
          <% end %>
          &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <%= link_to problem_url(p), method: :delete, 'data-confirm': "Are you sure?" do %>
          <i class="grey trash icon"></i>
          <% end %>
          |&nbsp;&nbsp;&nbsp;
          <%= link_to edit_problem_url(p) do %>
            <i class="grey edit icon"></i>
          <% end %>
        </div>      
    </div>
</div>
