<div class="ui raised  clearing segment">
<div class="" style="color: gray;font-size: 0.8em!important">
  <%= link_to p, class: "ui basic green right floated icon mini button" do %>
    see <i class="green right chevron icon"></i>
  <% end %>

  <% if p.liked?(current_user) %>
    <%= link_to problem_unlike_url(p), title: 'unlike' do %>
    <i class="red heart icon"></i>
    <span style="color: #db2828"><%= p.likes %></span>
    <% end %>
  <% else %>
    <%= link_to problem_like_url(p), title: 'like' do %>
    <i class="grey heart icon"></i>
    <span style="color: gray"><%= p.likes %></span>
    <% end %>
  <% end %>

  &nbsp;&nbsp;|&nbsp;&nbsp;
  <i class="chat icon"></i>
  <%= p.comments.size %>
  <% unless p.solution.empty? %>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <i class="green inverted check icon"></i>
  Solved
  <% end %>
</div>      
<br>
<%= link_to p do %>
  <div style="font-size: 16px;color: black;">
    <b>Problem <%= p.index %> <% if p.title.present? %><%= "(#{p.title})" %><% end %>:</b>
    <%= markdown(p.statement) %>
  </div> 
<% end %>
</div>    
    
