<div class="ui basic segment">
<h1>Edit problem</h1>
<%= form_for @problem, html: {class: "ui form"} do |f| %>
<div class="two fields">
    <div class="ui required field">
        <%= f.label "Topic" %>
        <div class="ui search selection dropdown">
            <%= f.text_field :topic_id, type: 'hidden', value: @problem.topic.id %>
            <i class="dropdown icon"></i>
            <div class="default text">Topic</div>
            <div class="menu">
            <% Topic.all.each do |t| %>
                <div class="item" data-value="<%= t.id %>">
                    <span style="color:gray"><%= t.category.title %> / </span><%= t.title %>
                </div>
            <% end %>
            </div>
        </div>
    </div>
    <div class="ui required field">
        <%= f.label :index %> 
        <%= f.text_field :index, required: true %>
    </div>
</div>
<div class="two fields">
    <div class="ui field">
        <%= f.label :title %> 
        <%= f.text_field :title %>
    </div>
    <div class="ui field">
        <%= f.label :answer %>
        <%= f.text_field :answer %>
    </div>
</div>

    <div class="ui required field">
        <%= f.label :statement %> 
        <%= f.text_area :statement, rows: 3 %>
    </div>


    <div class="ui field">
        <%= f.label :solution %> 
        <p><%= f.text_area :solution, rows: 8 %></p>
    </div>


    <%= f.submit class: "ui blue button" %>

<% end %>
</div>


<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("problem_solution") });
    var simplemde1 = new SimpleMDE({ element: document.getElementById("problem_statement") });
    $('.fa-eye').click(function(){
        MathJax.typeset();
    })
</script>
