<div class="ui large breadcrumb">
  <%= link_to @problem.topic.category, class: "section" do %><i class=" left chevron icon"></i><%= @problem.topic.category.title %><% end %>
  <span class="divider">/</span>
  <div class="active section">Problem <%= @problem.index %>:</div>
</div>
<br><br>

<div class="ui raised padded problem segment">
  <div class="ui red basic label"><%= @problem.topic.title %></div>
  &nbsp;
  <span style="color: gray">
    <% if @problem.liked?(current_user) %>
      <%= link_to problem_unlike_url(@problem), title: 'unlike' do %>
      <i class="red heart icon"></i>
      <span style="color: #db2828"><%= @problem.likes %></span>
      <% end %>
    <% else %>
      <%= link_to problem_like_url(@problem), title: 'like' do %>
      <i class="grey heart icon"></i>
      <span style="color: gray"><%= @problem.likes %></span>
      <% end %>
    <% end %>

      &nbsp;&nbsp;|&nbsp;&nbsp;
      <i class="chat icon"></i>
      <%= @problem.comments.size %>
      <% if current_user.instructor? %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to problem_url(@problem), method: :delete, 'data-confirm': "Are you sure?" do %>
    <i class="grey trash icon"></i>
    <% end %>
    |&nbsp;&nbsp;&nbsp;
    <%= link_to edit_problem_url(@problem) do %>
    <i class="grey edit icon"></i>
    <% end %>
    <% end %>
  </span>      
  <br><br>
  <% if @problem.title.present? %><h4 class="ui header">(<%= @problem.title %>)</h4><% end %>
  <%= markdown(@problem.statement) %>
  
  <% if @problem.answer.present? %><h4 class="ui red header">Answer: <%= @problem.answer %></h4><% end %>

  <h4 class="ui green dividing header">Solution:</h4>
  <br />
  <div style="overflow-x: auto">
  <%= markdown(@problem.solution) %>
  </div>
</div>

<br /><br />

<%= render partial: 'comments/comments', locals: { problem: @problem } %>

<script>
$( document ).ready(function() {
  <% if params[:comment_id].present? %>
    $('html, body').animate({
      scrollTop: $("#comment-<%= params[:comment_id] %>").offset().top
    }, 2000, function() {
      $("#comment-<%= params[:comment_id] %>").transition('glow');
    });
  <% end %> 
});
</script>