<div class="ui large breadcrumb">
  <%= link_to @problem.topic.category, class: "section" do %><i class=" left chevron icon"></i><%= @problem.topic.category.title %><% end %>
  <span class="divider">/</span>
  <div class="active section">Problem <%= @problem.index %>:</div>
</div>
<br><br>

<div class="ui raised padded problem segment">
  <div class="ui red basic label"><%= @problem.topic.title %></div>
  &nbsp;
  <span style="color: gray">
    <%= link_to problem_like_url(@problem) do %>
      <i class="red heart icon"></i>
      <% end %>
      <%= @problem.likes || 0 %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <i class="green chat icon"></i>
      <%= @problem.comments.size %>
      <% if current_user.instructor? %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to problem_url(@problem), method: :delete, 'data-confirm': "Are you sure?" do %>
    <i class="grey trash icon"></i>
    <% end %>
    |&nbsp;&nbsp;&nbsp;
    <%= link_to edit_problem_url(@problem) do %>
    <i class="grey edit icon"></i>
    <% end %>
    <% end %>
  </span>      
  <br><br>
  <% if @problem.title.present? %><h4 class="ui header">(<%= @problem.title %>)</h4><% end %>
  <%= markdown(@problem.statement) %>
  
  <% if @problem.answer.present? %><h4 class="ui red header">Answer: <%= @problem.answer %></h4><% end %>

  <h4 class="ui green dividing header">Solution:</h4>
  <br />
  <div style="overflow-x: auto">
  <%= markdown(@problem.solution) %>
  </div>
</div>

<br /><br />

<div class="ui basic segment">

<div class="ui threaded comments">
  <h3 class="ui dividing header">Comments</h3>
  
  <% @problem.comments.where(parent: nil).order(created_at: :desc).each do |c| %>
  <div class="comment">
    <a class="avatar">
      <img src="<%= c.user.picture %>">
    </a>
    <div class="content">
      <a class="author"><%= c.user.full_name %></a>
      <div class="metadata">
        <span class="date"><%= time_ago_in_words(c.created_at) %> ago</span>
      </div>
      <div class="text">
        <%= markdown(c.body) %>
      </div>
      <div class="actions">
        <a class="reply comment">Reply</a>
        <% if current_user == c. user %>
        <%= link_to 'delete', comment_url(c), method: :delete %>
        <% end %>
      </div>

      <%= form_for :comment, url: problem_comments_url(@problem), html: {class: "ui reply form", style: 'display: none'} do |f| %>
      <div class="required field">
        <%= f.text_area :body, placeholder: "Your Reply", required: true %>
      </div>
      <%= f.text_field :parent_id, value: c.id, hidden: true %>
      <%= f.submit "Reply", class: "ui red basic mini icon button" %>
      <% end %>
    </div>

    <% c.replies.order(created_at: :asc).each do |r| %>
    <div class="comments">
      <div class="comment">
        <a class="avatar">
          <img src="<%= r.user.picture %>">
        </a>
        <div class="content">
          <a class="author"><%= r.user.full_name %></a>
          <div class="metadata">
            <span class="date"><%= time_ago_in_words(r.created_at) %> ago</span>
          </div>
          <div class="text">
            <%= markdown(r.body) %>
          </div>
          <div class="actions">
            <% if current_user == r. user %>
            <%= link_to 'delete', comment_url(r), method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

  <h4 class="ui header">Leave Comment</h4>
  <%= form_for @problem.comments.new, url: problem_comments_url(@problem), html: {class: "ui comment form"} do |f| %>
  
  <div class="required field">
      <%= f.text_area :body, placeholder: 'Your comment', required: true %>
  </div>
    <%= f.submit "Save", class: "ui green basic button" %>
  <% end %>
</div>
</div>


<script>
  <%# $('textarea').each(function() {
    var simplemde = new SimpleMDE({
        element: this,
    });
    simplemde.render(); 
  });

    $('.fa-eye').click(function(){
        MathJax.typeset();
    });
   $('.editor-preview').on('change',function() {
     alert();
     if($(this).text() != '') {
       alert();
       $(this).parent().parent().find('.button').prop('diabled', false);
     }
  }); %>
</script>