<div class="ui large breadcrumb">
  <%= link_to @problem.topic.category, class: "section" do %><i class=" left chevron icon"></i><%= @problem.topic.category.title %><% end %>
  <span class="divider">/</span>
  <div class="active section">Problem <%= @problem.index %>:</div>
</div>
<br><br>

<div class="ui raised padded problem segment">
  <div class="ui red basic label"><%= @problem.topic.title %></div>
  <%= markdown(@problem.statement) %>
  
  <div>
    <%= link_to problem_like_url(@problem) do %>
      <i class="red heart icon"></i>
      <% end %>
      <%= @problem.likes || 0 %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <i class="green chat icon"></i>
       0
  </div>      
  <h4 class="ui green dividing header">Solution</h4>
  <%= markdown(@problem.solution) %>
</div>

<br><br>