<div class="ui large breadcrumb">
  <%= link_to @problem.topic.category, class: "section" do %><i class=" left chevron icon"></i><%= @problem.topic.category.title %><% end %>
  <span class="divider">/</span>
  <div class="active section">Problem <%= @problem.index %>:</div>
</div>
<br><br>

<div class="ui raised padded problem segment">
  <div class="ui red basic label"><%= @problem.topic.title %></div>
  &nbsp;
  <span style="color: gray">
    <%= link_to problem_like_url(@problem) do %>
      <i class="red heart icon"></i>
      <% end %>
      <%= @problem.likes || 0 %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <i class="green chat icon"></i>
      <%= @problem.comments.size %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to problem_url(@problem), method: :delete, 'data-confirm': "Are you sure?" do %>
    <i class="grey trash icon"></i>
    <% end %>
    |&nbsp;&nbsp;&nbsp;
    <%= link_to edit_problem_url(@problem) do %>
    <i class="grey edit icon"></i>
    <% end %>
  </span>      
  <br><br>
  <% if @problem.title.present? %><h4 class="ui header">(<%= @problem.title %>)</h4><% end %>
  <%= markdown(@problem.statement) %>
  
  <% if @problem.answer.present? %><h4 class="ui red header">Answer: <%= @problem.answer %></h4><% end %>

  <h4 class="ui green dividing header">Solution:</h4>
  <br />
  <%= markdown(@problem.solution) %>
</div>

<br /><br />

<div class="ui basic segment">

<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  
  <% @problem.comments.where(parent: nil).order(created_at: :desc).each do |c| %>
  <div class="comment">
    <div class="content">
      <a class="author"><%= c.name %></a>
      <div class="metadata">
        <span class="date"><%= time_ago_in_words(c.created_at) %> ago</span>
      </div>
      <div class="text">
        <%= c.body %>
      </div>
      <div class="actions">
        <a class="reply comment">Reply</a>
      </div>

      <%= form_for :comment, url: problem_comments_url(@problem), html: {class: "ui reply form", style: 'display: none'} do |f| %>
      <div class="required field">
        <%= f.text_field :name, required: true, placeholder: 'Your Name' %>
      </div>
       <div class="required field">
        <%= f.text_field :body, rows: 1, placeholder: "Your Reply" %>
      </div>
      <%= f.text_field :parent_id, value: c.id, hidden: true %>
      <%= f.submit "Reply", class: "ui red basic mini icon right floated button" %>
      <% end %>
    </div>

    <% c.replies.order(created_at: :asc).each do |r| %>
    <div class="comments">
      <div class="comment">
        <div class="content">
          <a class="author"><%= r.name %></a>
          <div class="metadata">
            <span class="date"><%= time_ago_in_words(r.created_at) %> ago</span>
          </div>
          <div class="text">
            <%= r.body %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

  <h4 class="ui header">Leave Comment</h4>
  <%= form_for @problem.comments.new, url: problem_comments_url(@problem), html: {class: "ui comment form"} do |f| %>
    <div class="required field">
      <%= f.text_field :name, required: true, placeholder: 'Your name' %>
    </div>
    
  <div class="required field">
      <%= f.text_area :body, rows: 3, placeholder: 'Your comment' %>
  </div>
    <%= f.submit "Save", class: "ui green basic button" %>
  <% end %>
</div>
</div>

