<h1>Edit category</h1>

<%= form_for @category, html: {class: "ui form"} do |f| %>
    <div class="two fields">
        <div class="required field">
            <%= f.label :title %> 
            <%= f.text_field :title, required: true %>
        </div>

        <div class="field">
            <%= f.label :index %> 
            <%= f.text_field :index %>
        </div>
    </div>
    <div class="field">
        <%= f.label :extra %>
        <%= f.text_area :extra %>
    </div>
    <%= f.submit class: "ui blue button" %>
<% end %>

<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("category_extra") });
    $('.fa-eye').click(function(){
        MathJax.typeset();
    })
</script>
