<div class="ui large breadcrumb">
  <%= link_to root_url, class: "section" do %><i class="green home icon"></i><% end %>
  <span class="divider">/</span>
  <div class="active section"><%= @category.title %></div>
</div>
<br><br>

<div>
  <%= link_to category_url(@category), class: "ui right floated basic red icon small button", method: :delete do %>
    <i class="trash icon"></i> Category
  <% end %>
  <%= link_to edit_category_url(@category), class: "ui right floated basic blue icon small button" do %>
    <i class="edit icon"></i> Category
  <% end %>
  <%= link_to new_category_topic_url(@category), class: "ui right floated green basic icon small button" do %>
    <i class="plus icon"></i> Topic
  <% end %>
</div>

<h1 class="ui  header"><%= @category.title %></h1>
<% @category.topics.each do |t| %>
<div class="ui raised clearing segment">

  <div>
    <%= link_to topic_url(t), class: "ui right floated red basic icon small button", method: :delete do %>
    <i class="trash icon"></i> Topic
    <% end %>
    <%= link_to edit_topic_url(t), class: "ui right floated blue basic icon small button" do %>
    <i class="edit icon"></i> Topic
    <% end %>
    <%= link_to new_topic_problem_url(t), class: "ui right floated green basic icon small button" do %>
    <i class="plus icon"></i> Problem
    <% end %>
  </div>

  <h3 class="ui dividing red header">
    #<%= t.title %>
  </h3>  

  <div class="ui divided items">
    <% t.problems.each do |p| %>
    <div class="item">
      <div class="content">
        <%= link_to p do %>
        <h3 class="ui blue header">Problem <%= p.index %>:</h3>
        <% end %>
        <div class="description">
          <p style="font-size: 17px"><%= p.statement %></p> 
        </div>
        <div class="extra">
          <i class="blue chat icon"></i>
          121
          |
          <i class="red heart icon"></i>
          121
        
          <%= link_to problem_url(p), class: "ui right floated red basic icon mini button", method: :delete do %>
            <i class="trash icon"></i>
          <% end %>
          <%= link_to edit_problem_url(p), class: "ui right floated blue basic icon mini button" do %>
            <i class="edit icon"></i>
          <% end %>
        </div>      
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>