<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Practice Problems | W203</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css" integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js" integrity="sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: "\\begin{equation}", right: "\\end{equation}", display: true},
              {left: "\\begin{align}", right: "\\end{align}", display: true},
              {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
              {left: "\\begin{gather}", right: "\\end{gather}", display: true},
              {left: "\\begin{CD}", right: "\\end{CD}", display: true},
              {left: "\\[", right: "\\]", display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
</script>    
  </head>

  <body>
    <div class="ui container basic segment">
    <div class="ui secondary menu">
      <a class="header item" href="/"><i class="big home icon"></i></a>
      <div class="item">
        <b>w203</b>
      </div>
      
      <div class="ui dropdown item">
          Categories
          <i class="dropdown icon"></i>
          <div class="menu">
            <% Category.all.each do |c| %>
              <%= link_to c, class: "item" do %><%= c.title %><% end %>
            <% end %>
          </div>
        </div>

      <div class="right menu">
        <% if logged_in? %>
        <div class="ui dropdown item"> 
          <img class="ui mini circular image" src="<%= current_user.picture %>">
          <i class="dropdown icon"></i>
          
          <div class="menu">
            <% if current_user.admin? %>
            <%= link_to users_url, class: "item" do %>Users<% end %>
            <% end %>
            <%= link_to logout_url, class: "item" do %>Log out<% end %>
          </div>
        </div>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
